# Action 的名字
name: Hexo Auto Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    # name: Build on node ${{ matrix.node_version }} and ${{ matrix.os }}
    runs-on: ubuntu-latest

    steps:
      - name: 检查分支
        uses: actions/checkout@v2
        with:
          ref: master

      # 安装 node.js
      - name: 安装 Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v1
        with:
          node-version: "18"

      # 配置环境
      - name: 配置环境
        env:
          # 配置的私钥标题
          HEXO_DEPLOY_KEY: ${{secrets.HEXO_DEPLOY_KEY}}
        run: |
          mkdir -p ~/.ssh/
          echo "$ACTION_DEPLOY_KEY" > ~/.ssh/id_rsa
          chmod 700 ~/.ssh
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          git config --global user.email "john@doe.com"
          git config --global user.name "John Doe"
          npm install hexo-cli -g
          npm install

      # 部署
      - name: 部署 Hexo
        run: |
          hexo clean
          hexo generate
          hexo deploy
